.wms-global-loader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  pointer-events: none;
}

.wms-global-loader__backdrop {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
}

.wms-global-loader__img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
}

