.react-table-users, .react-table-system, .react-table-subject-codes, .react-table-status-document, .react-table-type-document, .react-table-subjects {
 /* Limiting the width to 90% */
  border-collapse: collapse; /* Collapses the borders of the table */
  margin: 0 auto; /* Center the table horizontally */
  margin-top: 20px; /* Adds space at the top of the table */
  margin-bottom: 20px; /* Adds some space below the table */
}

table.react-table-subjects tr th:hover,table.react-table-subjects tr th:hover {
  background: rgb(255, 255, 255, 0.2);
}
.react-table-subjects th, .react-table-subjects td, .react-table-subjects th, .react-table-subjects td {
  padding: 12px; /* Adjust the padding as needed */
}