/* Devexpress grid rules */
.devexpress-grid {
  margin: 3em;
}
div#dataGrid {
  margin: 3em;
}


.devexpress-grid.order {
  height: 300px!important;
}
/* Devexpress grid rules */

.paginationControls, .paginationControls button {
  width: fit-content;
  background-color: #081A45;
  color: white;
  padding: 2px;
  font-weight: 700;
  border:none!important;
}

span#updateQuantity {
  margin-bottom: 0.5em;
}

.quantity-form-update {
  padding: 1em;
}

.popup-content {
  margin: auto;
  background: #fff;
  width: 50%!important;
  padding: 5px;
  border: 1px solid #d7d7d7;
}


table.react-table-system, table.react-table-subject-codes, table.react-table-status-document, table.react-table-type-document, table.react-table-subjects, table.react-table-idents, .react-table-wizzard, .react-table-stock {
  width: 95%;
}

td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px; /* Adjust the max-width as needed */
}


.search-container {
  display: flex;
  gap: 0.5em;
  width: 15em;
  background: #081A45;

  align-items: center;
}
.search-icon {
  height: fit-content;

}

.paginationControls {
  display: flex;
  /* background-color: #081A45; */
}



.paginationControls button {
  color: white;
  background-color: #081A45; 
}
.paginationControls span {
  margin-right: 5px;
}

.search-icon {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 10px;
}
button.action-buttons.white {
  color: white;
}
.global-react-table {
  overflow: hidden;
}

.user-settings-table {
  overflow: hidden;
}

.paginationControls {
  margin-bottom: 1em;
  padding: 0.3em;
}

button.ant-btn {
  background: #081A45;
  color: white;
  border-radius: 0;
}

.popup-body.insert {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; /* Adjust the gap as needed */
}

.popup-body.update {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; /* Adjust the gap as needed */
}


.form-group.insert, .form-group.update {
  display: flex;
  flex-direction: column;
}

.user-settings-table th {
  position: sticky!important;
  top: 0!important;
  z-index: 1!important;
 
}

button.actions.smallerr.lock {
  display: flex;
  flex-direction: column;
  height: 5em!important;
}

.user-settings-table {
  margin-top: 1em;
}

:where(.css-dev-only-do-not-override-18iikkb).ant-modal .ant-modal-content {
  border-radius: 0!important;
}

.css-13cymwt-control, .actions.smallerr.s, #openRange, .actions.smallerr {
  border-radius: 0!important;
  height: 40px!important;
}
button#confirmAdditionalInformation {
  margin: auto;
  margin-bottom: 2em;
}
.paginationControls {
  margin: -2px;
  float: right;
  margin-right: 2.5%!important;
  margin-bottom: 1em;
  padding: 0.3em;
}

.paginationControls button {
  margin-right: 0.4em;
  margin-left: 0.4em;
}
button.swal2-confirm.swal2-styled {
  background: #081A45!important;
  border-radius: 0!important;
}
.center-button {
  margin-top: 2em;
}


button.action-buttons.white:hover {
  background: none !important;
}

.hidden-column {
  display: none;
}
.popup-overlay.insert, .popup-overlay.add {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  z-index: 1000; /* Set a high z-index to ensure it's on top */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content.insert {
  background: white;
  padding: 20px;
  z-index: 1001; /* Set a higher z-index than overlay */
}

.popup-header.insert {
  display: flex;
  justify-content: flex-end;
}

button#confirmAdditionalInformation {
  margin: auto;
  margin-bottom: 2em;
}


.popup-close-btn.insert {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #333;
}

.choices {
  padding: 2em;
}
span#createDocument {

  margin-bottom: 2em;
}
.popup-content.insert {
  width: 60em;
}
/* Styles for the table container */
.user-settings-table {
  max-height: 70vh; /* Set the maximum height for the container */
}

/* Styles for the table */
.react-table-users, .react-table-system, .react-table-subject-codes, .react-table-status-document, .react-table-type-document, .react-table-subjects, .react-table-idents, .react-table-wizzard, .react-table-stock {
 /* Limiting the width to 90% */
  border-collapse: collapse; /* Collapses the borders of the table */
  margin: 0 auto; /* Center the table horizontally */
  margin-top: 20px; /* Adds space at the top of the table */
  margin-bottom: 20px; /* Adds some space below the table */
}

/* Styles for table headers */
.react-table-users th {
  background-color: #f2f2f2; /* Light background color */
  font-weight: bold; /* Bold font for headers */
  padding: 8px; /* Padding for headers */
  text-align: left; /* Aligns header text to the left */
  border: 1px solid #ccc; /* Adds borders around headers */
}

/* Styles for table rows */
.react-table-users td {
  padding: 8px; /* Padding for table cells */
  border: 1px solid #ccc; /* Adds borders around cells */
}





/* Alternate row background color for better readability */
.react-table-users tr:nth-child(even) {
  background-color: #f9f9f9; /* Light alternate background color */
}

/* Adjust the width of the last column */
.react-table-users td:last-child,
.react-table-users th:last-child {
  width: auto; /* Let the last column adjust its width based on content */
  white-space: nowrap; /* Prevent line breaks within the last column */
}

/* Adjust the width of the specific column */
.react-table-users td:nth-child(5),
.react-table-users th:nth-child(5) {
  width: auto; /* Let the last column adjust its width based on content */
  white-space: nowrap; /* Prevent line breaks within the last column */
  align-items: center;
  align-content: center;
  text-align: center;
}

/* Adjust the width of the specific column */
.react-table-users td:nth-child(4),
.react-table-users th:nth-child(4) {
  width: 10em; /* Let the last column adjust its width based on content */
  white-space: nowrap; /* Prevent line breaks within the last column */
  align-items: center;
  align-content: center;
  text-align: center;
}
.react-table-users td:nth-child(3),
.react-table-users th:nth-child(3) {
  width: 10em; /* Let the last column adjust its width based on content */
  white-space: nowrap; /* Prevent line breaks within the last column */
  align-items: center;
  align-content: center;
  text-align: center;
}
.react-table-users td:nth-child(2),
.react-table-users th:nth-child(2) {
  width: 10em; /* Let the last column adjust its width based on content */
  white-space: nowrap; /* Prevent line breaks within the last column */
  align-items: center;
  align-content: center;
  text-align: center;
}

button.action-buttons {
  background: none;
  border: none;
}
button.action-buttons:hover {
  background: rgba(8, 26, 69, 0.3);
}
.react-table-users td:nth-child(1),
.react-table-users th:nth-child(1) {
  width: 10em; /* Let the last column adjust its width based on content */
  white-space: nowrap; /* Prevent line breaks within the last column */
  align-items: center;
  align-content: center;
  text-align: center;
}

.react-table-users tr {
  height: 40px!important; /* Adjust the height as needed */
}


table.react-table-users td {
  border-left: none;
  border-right: none;
}

table.react-table-users th {
  background: white;
}
.react-table-users th {
  border: none!important;
}

body{
  background: #f7f7f8;
}






.center-button span {

  margin: 0;
}
.logo.navbar {
  margin-left: 2em;
}

.App {
  background-color: white;
}

.navbar {
  box-shadow: 0 9px 5px 0 rgba(0,0,0,.03);
  background: none;
}
.layout-takeover-goods {
  margin: 0;
}
.layout-takeover-goods {
  margin-top: 2em!important;
}
.layout-issued-goods {
  margin: 0;
}
span#openRangeTransaction {
  width: auto;
  height: 2.6em;
  margin-top: 0.1em;
}
.center-button span {
  padding-top: 10px!important;
}

.hidden-column {
  display: hidden;
}

.user-settings-table tr {
  background: #081A45;
}

.react-table-wizzard tr, th{
  background: #081A45;

}

table.react-table-system tr th:hover,table.react-table-subject-codes tr th:hover {
  background: rgb(255, 255, 255, 0.2);

}

table.react-table-stock th {
  z-index: 0!important;
}

.export-button-div button {
  padding-top: 8px!important;
}

.outer button {
  padding-top: 10px!important;
}

.react-table-system th, .react-table-system td, .react-table-subject-codes th, .react-table-subject-codes td, .react-table-stock th, .react-table-stock td {
  padding: 12px; /* Adjust the padding as needed */

}
.lower-components {
  margin-top: 2em;
}
.export-button-div {
  display: flex;
  align-items: center;
  justify-content: center;
}


table.react-table-wizzard tr th:hover,table.react-table-wizzard tr th:hover {
  background: rgb(255, 255, 255, 0.2);

}


.react-table-wizzard th, .react-table-wizzard td, .react-table-wizzard th, .react-table-wizzard td {
  padding: 12px; /* Adjust the padding as needed */

}

table.react-table-idents tr th:hover,table.react-table-idents tr th:hover {
  background: rgb(255, 255, 255, 0.2);

}


.react-table-idents th, .react-table-idents td, .react-table-idents th, .react-table-idents td {
  padding: 12px; /* Adjust the padding as needed */

}
table.react-table-subjects tr th:hover,table.react-table-subjects tr th:hover {
  background: rgb(255, 255, 255, 0.2);
}
.react-table-subjects th, .react-table-subjects td, .react-table-subjects th, .react-table-subjects td {
  padding: 12px; /* Adjust the padding as needed */
}
table.react-table-status-document tr th:hover,table.react-table-status-document tr th:hover {
  background: rgb(255, 255, 255, 0.2);

}


table.react-table-type-document tr th:hover,table.react-table-type-document tr th:hover {
  background: rgb(255, 255, 255, 0.2);
}



.react-table-status-document th, .react-table-status-document td, .react-table-status-document th, .react-table-status-document td {
  padding: 12px; /* Adjust the padding as needed */

}

.react-table-type-document th, .react-table-type-document td, .react-table-type-document th, .react-table-type-document td {
  padding: 12px; /* Adjust the padding as needed */
}


#analytics-panel {
  height: 100%;
}

.buttons-positions-bottom {
  margin-left: 2em;
  margin-bottom: 0.5em;
}

p {
  margin-top: 2px;

}
.header-buttons-div {
  margin-top: 0.1em;
  display: flex;
  gap: 1em;
  margin-left: 1em;
}

.stock-container-filters {
  display: flex;
  align-items: center;
}
.stock-container-filters .actions.smallerr {
  padding-top: 8px;
}
.navbar span {
  font-size: larger!important;
}
tr {
  font-size: large;
}
table thead th {
    position: sticky!important;
    top: 0px!important;
    color: white;
}
.responsive-buttons-order {
  display: flex;
  flex-direction: row;
  gap: 1em;

}
@media only screen and (max-width: 1537px){






}

#analytics-frame {
  border: 0;
  width: 100%;
  height: 90%;
  min-height: 90%;
  max-height: 100%;
  overflow: hidden
}

#analytics-panel {

  background: #efefef!important;
}

img#analytics {
  margin-right: 1.6em;
}

html, body {
  margin: 0!important;
  height: 100%!important;
  overflow: hidden!important;
  overflow-y: hidden;
}

.dx-dashboard-widget-container {
  position: absolute;
  top: -35px;
  width: 100%;
  height: 100%!important;
  min-height: 150px;
  min-width: 300px;
  /* overflow: hidden; */
}

div#root {
  height: 100%;
}
div#MainContent_ASPxDashboard1 {
  height: 100%!important;
  width: 100%!important;
}
div#internet {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30em;
}

.dx-dashboard-widget-container {
  position: absolute;
  top: -35px;
  width: 100%;
  height: 100%!important;
  min-height: 150px;
  min-width: 300px;
  /* overflow: hidden; */
}
.settings-divider-context {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.settings-divider {
  display: block;
  width: fit-content;
  position: absolute;
  right: 3em;
  top: 30vh;
}
div#addHeader {
  color: black;
}

.right-part {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.outer_container {
  display: flex;
  justify-content: space-around;
}


#SerialQtyEntry {
	  display: none;
    width: -moz-fit-content;
    width: 50%;
    height: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid gray;
    padding: 10px;
    color: white;
    opacity: 1;
    background: white;
	}


.table_responsive_location-component {
  margin: 2em;
}
#locationComponent div{
  color: black!important;
}
.add-location-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: space-between;
}

.left-part input {
  margin: 1em;
}

#locationComponent {
   display: none;
    width: -moz-fit-content;
    width: 50%;
    height: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid gray;
    padding: 10px;
    color: white;
    opacity: 1;
    background: white;
}
 .warehouses-container {
  display: none;
}

.interwarehouse {
  margin-top: 1em;
}



.settings-divider-context button {
  display: flex;
  justify-content: space-between;
}


.settings-divider {
  display: none;
}

.navbar.auth {
  height: 9em!important;
  justify-content: center;
}


tr {
  cursor: pointer;
}


button#loginButton {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  width: 100%;
  margin: auto;
  border-radius: 0!important;
  background: #081A45;
  border: none;
  font-family: "Titillium Web", sans-serif!important;
  font-size: 0.875em;
  font-weight: 800;
}

* {
  
  
  font-family: 'Open Sans', sans-serif;
  font-size:medium;


}

table {
  font-size: x-large;
}
.login.disabled {
  background-image: none;
}

.Auth-form-content {
 border-top: 0.5em solid #081A45;
}

.Auth-form-content {
  width: 30vw;
  padding: 2em;
  background: white;
  box-shadow: burlywood;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

td {
  background: white!important;
}

.table>thead {
  vertical-align: bottom;
  color: #081A45;
}
.menu button {
  color: #081A45;
}

.down-part {
  margin-top: 1em;
}

.main-menu-design, .listing-bg, .content-transactions, .stock-container
{

  background-color: #f7f7f8;
  height: 100vh;
}tr.mark_row {
  border: 3px solid gray;
}
table#transactions-table tr, table#table_responsive_positions_transactions tr {
  white-space: nowrap;
  overflow: hidden;
}
.notStripped tr {
  background-color: none;
}

table {
  background-image: none !important;
}

span {
  cursor: pointer;
}

span.actions svg {
  margin: 0.4em;
  cursor: pointer;
}


.main-container {
  background: #f7f7f8;
}


input {
  border-radius: 0!important;
}


span#openRange {

  padding-top: 0.3em;
  border: 1px solid gray;
  color: white;
  padding: 0.21em;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 1em;
  font-weight: 600;
  padding-top: 0.3em;
  display: flex;
  border: 1px solid #ced4da;
}


span.actions {

  color: white;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 1.4em;
  font-weight: 600;
  padding: 0.3e;
}

span.actions.smaller {
  margin: 1em;
  color: #404042;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 1em;
  font-weight: 600;
  padding: 0.3e;
}


.smallerrr {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  background: #081A45;
  border: none;
  font-family: "Titillium Web", sans-serif!important;
  font-size: 0.875em!important;
  font-weight: 600;
  color: white!important;
}


.header h {
  width: max-content;
}


.center-button button {
  padding-top: 10px!important;
}

span.actions.smallerr, button.actions.smallerr {
  height: 2.3em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  width: -moz-fit-content;
  width: 10em;
  background: #081A45;
  border: none;
  font-family: "Titillium Web", sans-serif!important;
  font-size: 0.875em;
  font-weight: 600;
  display: flex;
  color: white;
  justify-content: center;
}

.form-group2 {
  margin: 4em;
}

.login
{
  background-color: #f7f7f8;
}

.swal-button {
  background-color: #081A45!important;
  border-radius: 0;
}


#edit {
  color: black!important;
}


.right-column {
  display: flex;
  flex-direction: column;
  gap: 2em;
}


#transactionTypePopup {
  margin: auto;
}

.layout-issued-goods {
  margin: 3em;
}



.layout-issued-goods {
  color: black;
}


#transactionTypePopup {
  color: black;
}

.layout-issued-goods-header-checkbox {
  display: flex;
  flex-direction: row-reverse;
  width: fit-content;
  gap: 1em;
  margin: auto;
}





.layout-takeover-goods {
  margin: auto;
}


.layout-takeover-checkbox{
  display: flex;
  flex-direction: row-reverse;
  width: -moz-fit-content;
  width: fit-content;
  gap: 1em;
  margin: auto;
}

.layout-interwarehouse-goods {
  display: flex;
  gap: 2em;
}

.editable-group {
  margin-left: -9em;
  width: max-content;
}

div#edit, div#addHeader {
  /* Add media queries to solve this */
  height: 45vh;
  width: 40vw;
}

.left-workorder input, .right-workorder input{
  margin: 1em;
}

.add-container-workorder {
  width: max-content;
}

.outer-container-workorder {
  display: flex;
  justify-content: space-evenly;
}

.add-container-workorder {
  width: 100%;
  gap: 3em;
  display: flex;
  flex-direction: column;
}

.label-gray {
  font-size: larger;
  color: #969595;
}

.riko-blue {
  color: #081A45;
}

.changeStatusOuter {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.chooseStatus {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20em;
  height: 15em!important;
  background: #f7f7f8;
  border: 1px solid gray;
}




body {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

.layout-takeover-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.layout-takeover-goods {
  display: flex;
  gap: 2em;
}
span#createDocument {
  margin-top: -1em;
}

.layout-interwarehouse-checkbox {
  display: flex;
  flex-direction: row-reverse;
  width: -moz-fit-content;
  width: fit-content;
  gap: 1em;
  margin: auto;
}

.layout-interwarehouse-goods {
  justify-content: center;
  margin: 3em;
}


#issuingWarehouse, #receivingWarehouse, #date, #documentTypes
{
   width: 10vw;
}

#hiddenLabel, #hiddenCheck {

	visibility: hidden;
}

.header_part h1 {
  font-size: initial;
  cursor:pointer;
}

.layout-takeover-goods {
  margin-bottom: 2em;
}

.layout-issued-goods {
  display: flex;
  flex-direction: row;
  gap: 2em;
  position: relative;
  justify-content: center;
}

.layout-takeover-goods {
  display: flex;
  flex-direction: row;
  gap: 2em;
  top: 1em;
  position: relative;
  justify-content: center;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

#main-select {
  margin: 2em;
}

.header_part {
  color: black;
}

.table_responsive_positions_transactions tr {
  cursor: pointer;
}
div#SerialQtyEntry {
  height: -moz-fit-content;
  height: fit-content;
  width: 35em;
}
div#transactionTypePopup {
    margin: auto;
    margin-bottom: 2em;
}

#locationsSelect, #locationsSelectReceive {
  width: 15em;
}

#unitsEntry {
  width: 7.7em!important;
}

#receiveDiv {
  display: none;
}
#statusChange {
  width: fit-content;
  margin-left: 6em;
  margin-top: 2em;
}

.component-outer {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: auto;
}

div#locationsSelect {
  color: black;
}

.insistRow input {
  width: 12vw;
}
.insistRow label {
  width: -webkit-fill-available;
}
.small {
  width: 6.4em!important;
}
.insistRow {
  gap: 2em;
  width: 20em;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: auto;
  align-items: center;
  justify-content: flex-end;
}



div#edit, div#addHeader {
  height: fit-content;
  width: 40vw;
}
button.swal-button.swal-button--cancel {
  color: white;
}


.transactionFilters {
  margin-top: 1em;
  display: flex;
  gap: 2em;
  justify-content: center;
}

td.Chosen {
  font-weight: 900;
}

.header_part {
  display: flex!important;
  flex-direction: row-reverse!important;
}


div#addHeader {
  background: #f7f7f8;
}

.table_responsive_transaction {
  cursor: pointer;
}



  #edit, #addHeader {
    display: none;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid gray;
    padding: 10px;
    color: white;
}
.filter-buttons {
  display: flex;
  align-items: center;
  gap: 1em;
}
.editable-group {
	width: max-content;
}

.filters.upper {
  width: 95%;
  justify-content: space-between;
}

.filters-left {
  display: flex;
  gap: 1em;
}

#edit {
  display: none;
  width:fit-content;
  height: max-content;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid gray;
  padding: 10px;
  color: white;
  opacity: 1;
  background: white;
}

.buttonsHeader button, .buttonsPositions button {
  width: 10em;
}


span#openRangeTransaction {
  margin: 0;
}
.buttonsHeader, .buttonsPositions {
  display: flex;
  margin: 1em;
  align-content: center;
  flex-wrap: wrap;
}

#documentSearch,   #receiver, #consignee {
  width: 10em!important;
  height: 2.3em!important;  
}

span#openRange {
    display: flex;
    justify-content: center;
}



#businessEvent-option,#erpKey-option {
  border: 1px solid #ced4da;
}

.columnDivider {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2em;
}
button#openRange {
  display: flex;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
.nameModule {
  opacity: 1;
  z-index: 1000;
  position: fixed;
  top: 50vh;
  left: 60vw;
  transform: translate(-50%, -50%);
  width: 50vw;
}
.nameModule {
  opacity: 1;
  z-index: 1000;
}

div#wrong {
  margin-top: 0.4em;
  display: none;
}
.alert.alert-danger.password {
  margin-top: 0.5em;
  display: none;
}
img.loader {
  /* width: 50%; */
  /* position: absolute; */
  position: absolute;
  left: 50%;
  display: none;
  top: 50%;
  transform: translate(-50%, -50%);
}

.table_responsive_positions_transactions {
  height: 20vh;
  overflow-y: scroll;
  margin-left: 2em;
  margin-right: 2em;
  bottom:2em;
  width: 95vw;
}
.version-info {
  padding: 10px;
  background-color: #081A45;
  color: white;
}
button.popup-close-btn {
  color: gray;
}
.shortened-lock {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 10ch; /* You can adjust the value based on your needs */
}
button.popup-close-btn.add:hover {
  color: black;
}


/* VersionInfo.css */

.version-info {
  position: relative;
  display: inline-block; /* Ensures the tooltip appears next to the info circle */
}

.version-number {
  display: inline-block;
  margin-right: 8px; /* Adjust spacing between version number and info circle */
}

.info-icon {
  cursor: help;
  font-size: 20px;
}

.tooltip {
  position: absolute;
  top: 100%; /* Position below the version number */
  left: 50%; /* Centered horizontally */
  transform: translateX(-50%);
  background: #333;
  color: #fff;
  padding: 4px;
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.version-info:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.lock {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
button.popup-close-btn.insert{
  color: gray;
}

button.popup-close-btn.insert:hover {
  color: black;
}

.popup-content {
  padding: 1!important;

}

.smaller-friendly {
  font-size: smaller;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
button.popup-close-btn {
  padding: 5px;
}
.quantity-form-update {
  display: flex;
  align-items: center;
  gap: 1em;
  padding-top: 2em;
  padding-bottom: 1em;
}
.popup-body {
  padding: 1em;
}
.popup-content {
  background-color: white;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}


div#SerialQtyEntry {
  height: fit-content;
}

.popup-header {
  display: flex;
  justify-content: flex-end;
}

.popup-close-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.popup-body {
  margin-top: 10px;
}

.popup-dropdown,
.popup-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.popup-dropdown {
  height: 36px;
}

.popup-input {
  height: 36px;
}


div#addHeader {
  z-index: 1000;
}
.table_responsive_transaction {
  width: 95vw;
}


.visualization {
  width: 14%;
  height: 30vh;
  margin-bottom: 2em;
  background: #61dafb;
}
h3.information {
  text-align: center;
  vertical-align: middle;
  line-height: 30vh;
}

span.actions.smallerr.stock {
  width: 15em;
}

.table_responsive_positions {
  height: 40vh;
  margin-top: 1vh;
  margin-left: 2em;
  margin-right: 2em;
  bottom: 2em;
}

.stock-container-filters {
  display: flex;
  gap: 1em;
  margin-left: 2.5%;
  margin-top: 1em;
}


.table_responsive_stock {
  margin-top: 5em;
  height: 60vh!important;
  overflow-y: scroll!important;
  margin-left: 2em!important;;
  margin-right: 2em!important;;
}



td {
  height: 0.4em!important;
  font-size: 0.6em!important;
}





.table_responsive_pos {
  height: 23vh!important;
  overflow-y: scroll!important;
  margin-left: 2em!important;;
  margin-right: 2em!important;;
}
.table_responsive_transaction {
  height: 20vh!important;
  overflow-y: scroll;
  margin-left: 2em;
  margin-right: 2em;
}
.table_responsive_order {
  height: 30vh;
  overflow-y: scroll;
  margin-left: 2em;
  margin-right: 2em;
}

.footer {
  height: 2em;
  position: absolute;
  bottom:0px;
}
button.btn.btn-primary.navbar.logout {
  font-weight: 700;
}
.select-filters {
  width: max-content;
}



thead {
  background: #969595;
}


.filters {
  display: flex;
  gap: 1em;
  flex-direction: row;
  width: max-content;
  margin: 2em;
  height: 2em;
  align-items: center;
}
.menu button {
  color: white;
  background: #081A45;
  font-size: 1.1em;
  font-weight: 900!important;
}

button.btn.btn-primary.dashboard:hover {
  background-color: #081A45;
}

button.btn.btn-primary.navbar-internal.logout, button.btn.btn-primary.navbar-internal.home {
  margin-right: 2em!important;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  background: linear-gradient(105deg, #f69333 0%, #e47000 100%)!important;
  border: none;
  font-family: "Titillium Web", sans-serif!important;
  font-size: 0.875em;
  font-weight: 800;
  font-size: 0.7em!important;
}

.logo {

  position: relative;

}


button#search {
  display: flex;
}

button svg {
  margin: 0.4em;
}
.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.navbar {
  height: max-content;
  padding: 1em;
  background-color: #081A45;

}
.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}
.logout button {
  margin: 0.3em;
}

.editable-group {
  margin-bottom: 2em;
}

button.btn.btn-primary.settingsButton.dashboard {
  width: 20em;
}






.menu {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
  top: 45vh;
  position: relative;
  transform: translateY(-50%);
}

.settings.menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Three items in each row */
  gap: 20px; /* Adjust the gap between items */
  justify-content: center;
}

button.btn.btn-primary.dashboard {
  border: none;
}

button.btn.btn-primary.dashboard {
  margin: 0.3em;
  height: 4em;
  font-weight: bolder;

}



.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
