
.logo.navbar {
  margin-left: 2em;
}

.App {
  background-color: white;
}
.navbar {
box-shadow: 0 9px 5px 0 rgba(0,0,0,.03);
background: none;
}
.settings-divider-context {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.settings-divider {
  display: block;
  width: fit-content;
  position: absolute;
  right: 3em;
  top: 30vh;
}
div#addHeader {
  color: black;
}

.right-part {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.outer_container {
  display: flex;
  justify-content: space-around;
}

.table_responsive_location-component {
  margin: 2em;
}
#locationComponent div{
  color: black!important;
}
.add-location-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: space-between;
}

.left-part input {
  margin: 1em;
}

#locationComponent {
   display: none;
    width: -moz-fit-content;
    width: 50%;
    height: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid gray;
    padding: 10px;
    color: white;
    opacity: 1;
    background: white;
}
 .warehouses-container {
  display: none;
}

.interwarehouse {
  margin-top: 1em;
}



.settings-divider-context button {
  display: flex;
  justify-content: space-between;
}


.settings-divider {
  display: none;
}

.navbar.auth {
  height: 9em!important;
  justify-content: center;
}

button#loginButton {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  width: 100%;
  margin: auto;
  border-radius: 0!important;
  background: #081A45;
  border: none;
  font-family: "Titillium Web", sans-serif!important;
  font-size: 0.875em;
  font-weight: 800;
}
*{font-family: 'Calibri';



}

table {
  font-size: x-large;
}
.login.disabled {
  background-image: none;
}

.Auth-form-content {
 border-top: 0.5em solid #081A45;
}

.Auth-form-content {
  width: 30vw;
  padding: 2em;
  background: white;
  box-shadow: burlywood;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


td {
  background: white!important;
}

.table>thead {
  vertical-align: bottom;
  color: #081A45;
}
.menu button {
  color: #081A45;
}
.down-part {
  margin-top: 5em;
}
.main-menu-design, .listing-bg, .content-transactions, .stock-container
{

  background-color: #f7f7f8;
  height: 100vh;
}tr.mark_row {
  border: 3px solid gray;
}
table#transactions-table tr, table#table_responsive_positions_transactions tr {
  white-space: nowrap;
  overflow: hidden;
}
.notStripped tr {
  background-color: none;
}

table {
  background-image: none !important;
}

span {
  cursor: pointer;
}






span.actions svg {
  margin: 0.4em;
  cursor: pointer;
}


.main-container {
  background: #f7f7f8;
}



input {
  border-radius: 0!important;
}



span#openRange {
  margin: 1em;
  padding-top: 0.3em;
  border: 1px solid gray;
  color: white;
  padding: 0.21em;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 1em;
  font-weight: 600;
  padding-top: 0.3em;
  display: flex;
  border: 1px solid #ced4da;
}



span.actions {
  margin: 1em;
  color: white;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 1.7em;
  font-weight: 600;
  padding: 0.3e;
}

span.actions.smaller{
  margin: 1em;
  color: #404042;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 1em;
  font-weight: 600;
  padding: 0.3e;
}

.smallerrr{
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  background: #081A45;
  border: none;
  font-family: "Titillium Web", sans-serif!important;
  font-size: 0.875em!important;
  font-weight: 600;
  color: white!important;
}


span.actions.smallerr {
  height: 2.3em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  width: -moz-fit-content;
  width: 10em;
  background: #081A45;
  border: none;
  font-family: "Titillium Web", sans-serif!important;
  font-size: 0.875em;
  font-weight: 600;
  display: flex;
  color: white;
  justify-content: center;
}
.login
{
  background-color: #f7f7f8;

}

.swal-button {
  background-color: #081A45!important;
  border-radius: 0;
}

#edit {
  color: black!important;
}

#buyer {
  display: none;
}

#transactionTypePopup {
  margin: auto;
}

.layout-issued-goods {
  margin: 3em;
}

#documentType, #warehouse, #buyer, #documentDate, #transactionTypePopup {
  width:10vw!important;
}

.layout-issued-goods {
  color: black;
}


#transactionTypePopup {
  color: black;
}

.layout-issued-goods-header-checkbox {
  display: flex;
  flex-direction: row-reverse;
  width: fit-content;
  gap: 1em;
  margin: auto;
}





.layout-takeover-goods {
  margin: auto;
}


.layout-takeover-checkbox{
  display: flex;
  flex-direction: row-reverse;
  width: -moz-fit-content;
  width: fit-content;
  gap: 1em;
  margin: auto;
}

.layout-interwarehouse-goods {
  display: flex;
  gap: 2em;
}

.editable-group {
  margin-left: -9em;
  width: max-content;
}

div#edit, div#addHeader {
  /* Add media queries to solve this */
  height: 45vh;
  width: 40vw;
}

.left-workorder input, .right-workorder input{
  margin: 1em;
}

.add-container-workorder {
  width: max-content;
}

.outer-container-workorder {
  display: flex;
  justify-content: space-evenly;
}

.add-container-workorder {
  width: 100%;
  gap: 3em;
  display: flex;
  flex-direction: column;
}

.label-gray {
  font-size: larger;
  color: #969595;
}

.riko-blue {
  color: #081A45;
}

body {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

.layout-takeover-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.layout-takeover-goods {
  display: flex;
  gap: 2em;
}
span#createDocument {
  margin-top: -1em;
}
.layout-interwarehouse-checkbox {
  display: flex;
  flex-direction: row-reverse;
  width: -moz-fit-content;
  width: fit-content;
  gap: 1em;
  margin: auto;
}
.layout-interwarehouse-goods {
  justify-content: center;
  margin: 3em;
}


#issuingWarehouse, #receivingWarehouse, #date, #documentTypes
{
   width: 10vw;
}

#hiddenLabel, #hiddenCheck {
	
	visibility: hidden;

}

.header_part h1 {
  font-size: initial;
  cursor:pointer;
}
.layout-takeover-goods {
  margin-bottom: 2em;
}
.layout-issued-goods {
  display: flex;
  flex-direction: row;
  gap: 2em;
  position: relative;
  justify-content: center;
}
.layout-takeover-goods {
  display: flex;
  flex-direction: row;
  gap: 2em;
  top: 1em;
  position: relative;
  justify-content: center;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

#main-select {
  margin: 2em;
}

.header_part {
  color: black;
}

.table_responsive_positions_transactions tr {
  cursor: pointer;
}

div#transactionTypePopup {

    margin: auto;
    margin-bottom: 2em;

}

button.swal-button.swal-button--cancel {
  color: white;
}


.transactionFilters {
  margin-top: 1em;
  display: flex;
  gap: 2em;
  justify-content: center;
}

td.Chosen {
  font-weight: 900;
}

.header_part {
  display: flex;
  flex-direction: row-reverse;
}


div#addHeader {
  background: #f7f7f8;
}

.table_responsive_transaction {
  cursor: pointer;
}



  #edit, #addHeader {
    display: none;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid gray;
    padding: 10px;
    color: white;
}

.editable-group {
	width: max-content;
}


#edit {
  display: none;
  width:fit-content;
  height: max-content;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid gray;
  padding: 10px;
  color: white;
  opacity: 1;
  background: white;
}





.buttonsHeader button, .buttonsPositions button {
  width: 10em;
}

/* filter on transaction screen */
#transactionType,
#businessEvent,
#transactionOrder,
#transactionId,
#transactionStatus,
#client,
#ident,
#identName,
#erpKey,
#documentType {
  width: 20vw;
}



span#openRangeTransaction {
  margin: 0;
}
.buttonsHeader, .buttonsPositions {
  display: flex;
  margin: 1em;
  align-content: center;
  flex-wrap: wrap;
}

#documentSearch,  #openRange, #receiver, #consignee {
  width: 10em!important;
  height: 2.3em!important;  
}

span#openRange {
    display: flex;
    justify-content: center;
}



#businessEvent-option,#erpKey-option {
  border: 1px solid #ced4da;
}

.columnDivider {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2em;
}
button#openRange {
  display: flex;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
.nameModule {
  opacity: 1;
  z-index: 1000;
  position: fixed;
  top: 50vh;
  left: 60vw;
  transform: translate(-50%, -50%);
  width: 50vw;
}
.nameModule {
  opacity: 1;
  z-index: 1000;
}

div#wrong {
  margin-top: 0.4em;
  display: none;
}
.alert.alert-danger.password {
  margin-top: 0.5em;
  display: none;
}
img.loader {
  /* width: 50%; */
  /* position: absolute; */
  position: absolute;
  left: 50%;
  display: none;
  top: 50%;
  transform: translate(-50%, -50%);
}

.table_responsive_positions_transactions {
  height: 25vh;
  overflow-y: scroll;
  margin-left: 2em;
  margin-right: 2em;

  bottom:2em;
  width: 95vw;
}

.table_responsive_transaction {
  width: 95vw;
}


.visualization {
  width: 14%;
  height: 30vh;
  margin-bottom: 2em;
  background: #61dafb;
}
h3.information {
  text-align: center;
  vertical-align: middle;
  line-height: 30vh;
}


.table_responsive_positions {
  height: 40vh;
  margin-top: 10vh;
  margin-left: 2em;
  margin-right: 2em;
  bottom: 2em;
}

td {
  height: 0.4em!important;
  font-size: 0.6em!important;
}
#warehouseStock, #locationStock, #identStock {
  margin: 1em;
  width: 30em;
}
.stock-container {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.table_responsive_order, .table_responsive_transaction {
  height: 30vh;
  overflow-y: scroll;
  margin-left: 2em;
  margin-right: 2em;
}

.footer {
  height: 2em;
  position: absolute;
  bottom:0px;
}
button.btn.btn-primary.navbar.logout {
  font-weight: 700;
}
.select-filters {
  width: max-content;
}



thead {
  background: #969595;
}


.filters {
  display: flex;
  gap: 1em;
  flex-direction: row;
  width: max-content;
  margin: 2em;
  height: 2em;
  align-items: center;
}
.menu button {
  color: white;
  background: #081A45;
  font-size: 1.1em;
  font-weight: 900!important;
}

button.btn.btn-primary.dashboard:hover {
  background-color: #081A45;
}

button.btn.btn-primary.navbar-internal.logout, button.btn.btn-primary.navbar-internal.home {
  margin-right: 2em!important;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  background: linear-gradient(105deg, #f69333 0%, #e47000 100%)!important;
  border: none;
  font-family: "Titillium Web", sans-serif!important;
  font-size: 0.875em;
  font-weight: 800;
  font-size: 0.7em!important;
}

.logo {

  position: relative;

}


button#search {
  display: flex;
}

button svg {
  margin: 0.4em;
}
.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.navbar {
  height: max-content;
  padding: 1em;
  background-color: #081A45;

}
.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}
.logout button {
  margin: 0.3em;
}

.editable-group {
  margin-bottom: 2em;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: auto;
  top: 50vh;
  position: relative;
  transform: translateY(-50%);
}



button.btn.btn-primary.dashboard {
  border: none;
}

button.btn.btn-primary.dashboard {
  margin: 0.3em;
  height: 5em;
  font-weight: bolder;

}



.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}




.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
